__init__.py
dump.py
*.pyc
*.log
*.root
*~

# ___________________________________
# Exclude these files

input_*.txt
pset_*.py
crab.history
copyjobfile.txt

# ___________________________________
# Exclude these directories

backup/

